@use "../../style/colors.scss";

.page-container{
    display: flex;
}

.content-container{
    margin-left: 260px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    h1 {
        all: unset;
        font-size: 32px;
        font-weight: 600;
        color: colors.$dark-blue;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
        }
}

.collapsed-sidebar .content-container{
    margin-left: 80px;
}
@media screen and (max-width: 992px){
    .content-container{
        margin-left: 80px;
    }
}