.page-container{
    display: flex;
}

.content-container{
    margin-left: 260px;
    flex-grow: 1;
    overflow: hidden;
}

.collapsed-sidebar .content-container{
    margin-left: 80px;
}
@media screen and (max-width: 992px){
    .content-container{
        margin-left: 80px;
    }
}