@use "../../style/colors.scss";
@use "../../style/margins.scss";
@use "../../style/fontsizes.scss";

.page-container {
    display: flex;
}

.content-container {
    margin-left: 260px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1 {
        all: unset;
        font-size: fontsizes.$fontsz-h1;
        font-weight: 600;
        color: colors.$dark-blue;
        margin-top: margins.$margin-md;
        margin-left: margins.$margin-md;
        margin-bottom: margins.$margin-md;
        }
    
    h2 {
        font-size: fontsizes.$fontsz-h2;
        font-weight: 600;
        margin: 0;
        color: colors.$dark-blue;
    }
}

.collapsed-sidebar .content-container {
    margin-left: 80px;
}

@media screen and (max-width: 992px) {
    .content-container {
        margin-left: 80px;
    }
}