@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

.dashboard {

    .content-container{
        height: auto;
    }
    //background-color: unset;
    .dashboard-content {
        margin-left: margins.$margin-md;
        margin-right: margins.$margin-md;
        margin-bottom: margins.$margin-md;
        border-radius: 6px;
        overflow-x: auto;
        overflow-y: auto;
        filter: drop-shadow(5px 5px 15px #dee0e2);

        .container-title {
            padding: margins.$margin-md;
        }
        
        .daily-data-container {
            justify-self: end;
        }
    }

    .graph-container .graphs-content {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
    .graphs-content{
        flex-grow: 1;
    }

    .graph-container {
        display: flex;
    }

    .list-container {
        flex: 1;
    }
    .mid-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
    
}

@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 992px){


}