@use "../../style/colors.scss";
@use "../../style/margins.scss";
@use "../../style/fontsizes.scss";

.contain-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .default-logo{
        display:block;
        width: 250px;
        margin-bottom: margins.$margin-lg;
        fill: #579CFB;
        .login-logo{
            width: 100px;
        }
    }
}

.login-form-container {

    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: margins.$margin-md;

    .error-msg{
        color:red;
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: margins.$margin-md;

        .text-field {
            width: 100%;
        }
    }

    button {
        all: unset;
        background-color: colors.$primary-color;
        font-size: fontsizes.$fontsz-sm;
        font-weight: 600;
        color: white;
        text-align: center;
        width: 100%;
        height: 45px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.4s;
        
        &:hover {
            background-color: #4984D3;
        }
    }
}