@use "../../style/colors.scss";

.contain-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .default-logo{
        display:block;
        width: 300px;
        margin-bottom: 5%;
        fill: #579CFB;
        .login-logo{
            width: 100px;
        }
    }
}

.login-form-container {

    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .error-msg{
        color:red;
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    button {
        all: unset;
        background-color: colors.$primary-color;
        font-weight: 600;
        color: white;
        text-align: center;
        width: 100%;
        height: 50px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.4s;
        
        &:hover {
            background-color: #4984D3;
        }
    }
}