@use '../../style/colors';
@use "../../style/margins.scss";

.pie-chart-container{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: stretch;
    width: 100%;
    padding: 20px;
}