@use '../../style/colors';
@use "../../style/margins.scss";

.pie-chart-container{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    flex-wrap: wrap;
    background-color: white;
}