@use '../../style/colors';

.category-button-wrapper{

    position: relative;

    label {
        all: unset;
        box-sizing: border-box;
        height: 80px;
        padding: 20px 30px;
        user-select: none;
        text-align: center;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }

    input[type="radio"]{
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }

    input[type="radio"]+label{
        color: white;
    }

    svg{
        position: absolute;
        left: 75.5px;
        top: 21px;
        transform: scale(1.5);
        z-index: 1;
        display:none;
    }

    span{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    // Category blue
    .category-blue {
        background-color: colors.$primary-color;
    }

    input[type="radio"]:checked+label.category-blue{
        background: linear-gradient(
            to right,
            colors.$category-blue 0% 15%,
            colors.$category-blue-dark 15% 85%,
            colors.$category-blue 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-blue;
                stroke: colors.$category-blue;
            }
        }
    }

    // Category cyan
    .category-cyan {
        background-color: colors.$category-cyan;
    }

    input[type="radio"]:checked+label.category-cyan{
        background: linear-gradient(
            to right,
            colors.$category-cyan 0% 15%,
            colors.$category-cyan-dark 15% 85%,
            colors.$category-cyan 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-cyan;
                stroke: colors.$category-cyan;
            }
        }
    }

    // Category-red

    .category-red {
        background-color: colors.$category-red;
    }

    input[type="radio"]:checked+label.category-red{
        background: linear-gradient(
            to right,
            colors.$category-red 0% 15%,
            colors.$category-red-dark 15% 85%,
            colors.$category-red 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-red;
                stroke: colors.$category-red;
            }
        }
    }

    //Category-yellow
    .category-yellow {
        background-color: colors.$category-yellow;
    }

    input[type="radio"]:checked+label.category-yellow{
        background: linear-gradient(
            to right,
            colors.$category-yellow 0% 15%,
            colors.$category-yellow-dark 15% 85%,
            colors.$category-yellow 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-yellow;
                stroke: colors.$category-yellow;
            }
        }
    }


    //Category-brown
    .category-brown {
        background-color: colors.$category-brown;
    }

    input[type="radio"]:checked+label.category-brown{
        background: linear-gradient(
            to right,
            colors.$category-brown 0% 15%,
            colors.$category-brown-dark 15% 85%,
            colors.$category-brown 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-brown;
                stroke: colors.$category-brown;
            }
        }
    }
 

    //Category-dark-blue
    .category-dark-blue {
        background-color: colors.$category-dark-blue;
    }

    input[type="radio"]:checked+label.category-dark-blue{
        background: linear-gradient(
            to right,
            colors.$category-dark-blue 0% 15%,
            colors.$category-dark-blue-dark 15% 85%,
            colors.$category-dark-blue 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-dark-blue;
                stroke: colors.$category-dark-blue;
            }
        }
    }

    //Category-purple
    .category-purple {
        background-color: colors.$category-purple;
    }

    input[type="radio"]:checked+label.category-purple{
        background: linear-gradient(
            to right,
            colors.$category-purple 0% 15%,
            colors.$category-purple-dark 15% 85%,
            colors.$category-purple 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-purple;
                stroke: colors.$category-purple;
            }
        }
    }

    //Category-violet
    .category-violet {
        background-color: colors.$category-violet;
    }

    input[type="radio"]:checked+label.category-violet{
        background: linear-gradient(
            to right,
            colors.$category-violet 0% 15%,
            colors.$category-violet-dark 15% 85%,
            colors.$category-violet 85% 100%
        );

        svg{
            display:inline;
            path {
                fill: colors.$category-violet;
                stroke: colors.$category-violet;
            }
        }
    }

}