@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

.Statistics{
    .barchart-container{
        margin-left: 2%;
        margin-top: 10%;
        background-color: white;
        height: 50%;
        width: 100%;
    }

    .chart-container{
        flex-grow: 1;
        display: grid; 
        grid-template-columns: repeat(3, 390px);
        background-color: white;
        margin: margins.$margin-md;
        margin-top: 0;
        border-radius: 6px;
        overflow-y:auto;
        filter: drop-shadow(5px 5px 15px #dee0e2);

        .container-title {
            padding: 30px;

            h2 {
                font-weight: 600;
                font-size: 24px;
                margin: 0;
            }
        }
    }
}