@use "../../style/colors.scss";

.text-field {

    position: relative;
    width: 100%;

    ::placeholder{
        color: colors.$placeholder-text;
    }

    .filled {
        display: none;
    }

    input {
        all: unset;
        border-radius: 6px;
        width: 100%;
        height: 50px;
        background-color: colors.$text-field-background;
        box-shadow: inset 0 0 0 1px colors.$text-field-stroke;
        box-sizing: border-box;
        padding: 0 20px;
        font-size: 18px;
        transition: box-shadow 0.2s;

        &:focus {
            box-shadow: 
                inset 0 1.5px 0 0 #579CFB, 
                inset 0 -2px 0 0 #579CFB, 
                inset -2px 0 0 0 #579CFB, 
                inset 1.5px 0 0 0 #579CFB
        }

    }

    label {
        position: absolute;
        color: colors.$placeholder-text;
        font-size: 18px;
        left: 22px;
        line-height: 50px;
        pointer-events: none;
        cursor:text;
    }

    input[required] + label:after {
        content:'*';
        color: red;
    }

    input:focus + label{
        display: none;
    }


    display: flex;

    .textfield-left-text{
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        background-color: colors.$darker-grey-background;
        color: rgba(0,0,0,0.5);
        border-radius: 0 6px 6px 0;
        box-shadow: 
            inset 0 1px 0 0 colors.$text-field-stroke, 
            inset 0 -1px 0 0 colors.$text-field-stroke, 
            inset -1px 0 0 0 colors.$text-field-stroke;
    }


    .textfield-right-text{
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        background-color: colors.$darker-grey-background;
        color: rgba(0,0,0,0.5);
        
        border-radius: 6px 0 0 6px;
        box-shadow: 
        inset 0 1px 0 0 colors.$text-field-stroke, 
        inset 0 1px 0 0 colors.$text-field-stroke, 
        inset 1px 0 0 0 colors.$text-field-stroke;
    }

    .textfield-input-container{
        position: relative;
        flex: 1;
    }

}

input.textfield-right-text-container{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
input.textfield-left-text-container{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.text-field-wrapper{
    display: flex;
    gap: 10px;

    .minutes {
        width: 70px;
        height: 50px;
        background-color: colors.$darker-grey-background;
        color: rgba(0,0,0,0.5);
        position: absolute;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        border-radius: 0 6px 6px 0;
        box-shadow: 
            inset 0 1px 0 0 colors.$text-field-stroke, 
            inset 0 -1px 0 0 colors.$text-field-stroke, 
            inset -1px 0 0 0 colors.$text-field-stroke;
    }

    .minutes-text-field {
        width: calc(100% - 70px);
        border-radius: 6px 0 0 6px;
    }

    .left {
        left: 125px;
    }

    .right {
        right: 0;
    }
}