@use "../../style/colors.scss";

.text-field {

    position: relative;

    ::placeholder{
        color: colors.$placeholder-text;
    }

    .filled {
        display: none;
    }

    input {
        all: unset;
        border-radius: 6px;
        width: 100%;
        height: 50px;
        background-color: colors.$text-field-background;
        box-shadow: inset 0 0 0 1px colors.$text-field-stroke;
        box-sizing: border-box;
        padding: 0 20px;
        font-size: 18px;
        transition: box-shadow 0.2s;

        &:focus {
            box-shadow: 
                inset 0 1.5px 0 0 #579CFB, 
                inset 0 -2px 0 0 #579CFB, 
                inset -2px 0 0 0 #579CFB, 
                inset 1.5px 0 0 0 #579CFB
        }

    }

    label {
        position: absolute;
        color: colors.$placeholder-text;
        font-size: 18px;
        left: 22px;
        line-height: 50px;
        pointer-events: none;
        cursor:text;
    }

    input[required] + label:after {
        content:'*';
        color: red;
    }

    input:focus + label{
        display: none;
    }
}


  


