@use "../../style/margins.scss";

.list-container {
    flex-grow: 1;
    background-color: white;
    margin-left: margins.$margin-md;
    margin-right: margins.$margin-md;
    margin-bottom: margins.$margin-md;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #dee0e2;
    overflow: scroll;

    .container-title {
        padding: margins.$margin-md;
        h1 {
            margin: 0;
        }
    }

    .top-wrapper{
        display:flex;
        align-items: center;

        .search-container {
            margin-left: margins.$margin-md;
            width: 230px;

            .placeholder-content {
                align-items: center;
            }
        }
    }
}