@use "../../style/colors.scss";

@use "../../style/margins.scss";

.list-container {
    flex-grow: 1;
    background-color: white;
    margin-left: margins.$margin-md;
    margin-right: margins.$margin-md;
    margin-bottom: margins.$margin-md;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #dee0e2;
    overflow: scroll;

    .container-title {
        padding: margins.$margin-md;
        h1 {
            margin: 0;
        }
    }

    .top-wrapper{
        display:flex;
        align-items: center;

        .search-container {
            margin-left: margins.$margin-md;
            width: 230px;

            .placeholder-content {
                align-items: center;
            }
        }
    }


}


.case-list-page{
   
    .pagination-wrapper{
        align-items: center;
        user-select: none;
        display: flex;
        justify-content: end;
        margin-left: margins.$margin-md;
        margin-right: margins.$margin-md;
        margin-bottom: margins.$margin-md;
        gap: 20px;

        & > p{
           display: inline-block;
           margin-right: 20px;
        }
    }
    .pagination-switch-buttons {
        align-self: end;
        display: flex;
        gap: 10px;
        width: fit-content;

        & > button {
            all: unset;
            width: 45px;
            height: 45px;
            background-color: colors.$switch-button-background;
            border-radius: 6px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover{
                background-color: colors.$switch-button-hover;
            }
        }
    
        & > .left {
    
            svg {
                transform: rotate(0.5turn);
            }
        }
    
        & > .disabled {
            background-color: colors.$switch-button-disabled-background;
            pointer-events: none;
            
            svg {
                path {
                    fill: colors.$switch-button-disabled-icon;
                }
            }
        }
    }
}