@use '../../style/colors';

.filled {
    display: none;
}

.text-area {

    position: relative;

    textarea {

        ::placeholder{
            color: colors.$placeholder-text;
        }
    
        &:focus {
            box-shadow: 
                inset 0 1.5px 0 0 #579CFB, 
                inset 0 -2px 0 0 #579CFB, 
                inset -2px 0 0 0 #579CFB, 
                inset 1.5px 0 0 0 #579CFB
        }
    
        all: unset;
        border-radius: 6px;
        width: 100%;
        height: 150px;
        background-color: colors.$text-field-background;
        box-shadow: inset 0 0 0 1px colors.$text-field-stroke;
        box-sizing: border-box;
        padding: 12px 20px;
        font-size: 18px;
        transition: box-shadow 0.2s;
    }

    label {
        position: absolute;
        color: colors.$placeholder-text;
        font-size: 18px;
        left: 22px;
        line-height: 50px;
        cursor:text;
    }
    
    textarea[required] + label:after {
        content:'*';
        color: colors.$danger-red;
    }

    textarea[valid] + label {
        display: none;
    }
    
    textarea:focus + label{
        display: none;
    }
}