@use "../../style/colors.scss";
@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

.popup-container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
}

.popup {
    background: white;
    width: 500px;
    height: 85%;
    min-height: 600px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 0 margins.$margin-md;
    align-items: center;
    position: relative;
    border-radius: 6px;

    h2 {
        font-weight: 600;
        margin: 0;
        margin-top: margins.$margin-lg;
    }

    .close-icon {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;

        path {
            fill: colors.$danger-red;
            transition: fill 0.3s;
        }

        &:hover {
            path {
                fill: #B21030;
            } 
        }
    }

    .submit-button {
        width: 40%;
    }

    p {
        color: colors.$dark-blue;
        margin: 0;
        margin-bottom: 5px;
        margin-top: margins.$margin-md;
        font-size: fontsizes.$fontsz-sm;
    }
}

.text-fields-container {
    width: 65%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    margin: margins.$margin-lg 0;
    position: relative;

    .first-label {
        margin-top: 0;
    }
}

.dual-textfield-container {
    display: flex;
    gap: 10px;
}

.dual-textfield-labels {
    display: flex;
    gap: 10px;

    p {
        flex-grow: 1;
    }
}

.switch-buttons {
    align-self: end;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15px;

    button {
        all: unset;
        width: 45px;
        height: 45px;
        background-color: colors.$switch-button-background;
        border-radius: 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover{
            background-color: colors.$switch-button-hover;
        }
    }

    .left {

        svg {
            transform: rotate(0.5turn);
        }
    }

    .disabled {
        background-color: colors.$switch-button-disabled-background;
        pointer-events: none;
        
        svg {
            path {
                fill: colors.$switch-button-disabled-icon;
            }
        }
    }
}