@use "../../style/colors.scss";
@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

.placeholder-content{
    display: flex;
    width: 100%;
    font-size: fontsizes.$fontsz-sm;;
    white-space: nowrap;

    
    .search-icon{
        color: colors.$placeholder-text;
        font-size: fontsizes.$fontsz-sm;
        flex-direction: row;
        pointer-events: none;
        cursor:text;
        margin-right: margins.$margin-md / 2;
        width: 16px;
        height: 16px;
    }

    .text-field label{
        flex-shrink: 3;
        width: 100%;
        margin-top: 10px;
        margin-left: 2px;
        margin-bottom: 10px;
    }
    .filled {
        display: none;
    }
    input:focus + label{
        display: none;
    }
}

@media screen and (max-width: 992px){
    .placeholder-content{
        font-size: fontsizes.$fontsz-sm;
    }
}
