.contain-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {

}

.form-container {
    width: fit-content;
}

.text-field-container {
    width: 100%;
}