@use "../../style/colors.scss";
@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

.contain-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 5px;
    }
}

.form-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: margins.$margin-lg;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: margins.$margin-lg;

        textarea {
            height: 100px;
        }

        .text-area {
            width: 55%;
        }
    }

    .text-field {
        width: 55%;
    }
}

.text-field-container {
    display: flex;
    width: 100%;
    gap: margins.$margin-md;

    .text-field {
        width: 50%;
    }
}