@use '../../style/colors';
@use "../../style/fontsizes.scss";

.submit-button {
    all: unset;
    background-color: colors.$primary-color;
    font-weight: 600;
    color: white;
    text-align: center;
    font-size: fontsizes.$fontsz-sm;
    width: 55%;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
    
    &:hover {
        background-color: #4984D3;
    }
}