@use '../../style/colors';

.dashboard {
    .pie-button-wrapper{
        width: 50%;
        min-height: 250px;
    }
}

.pie-button-wrapper {
    min-height: 200px;
}

@media screen and (max-width: 600px){
    .dashboard {
        .pie-button-wrapper{
            width: 100%;
        }
    }   
    
}
