.daily-data-container {
    p {
        all: unset;
        display: block;
        text-align: center;
    }
    width: auto;
    .daily-data {
        height: 134px;
        margin-bottom: 25px;
        width: 270px;
        border-radius: 6px;
        margin-right: 20px;

        .data-title {
            position: relative;
            text-align: center;
            top: 10px;
        }

        .amount {
            position: relative;
            top: 25px;
            font-size: 24px;
            font-weight: bold;
        }

        .errands-text {
            position: relative;
            top: 22px;
            font-size: 14px;
            color: #80888f;
        }

        .data-pic {
            position: relative;
            top: -20px;
            text-align: center;
        }
        
        .data-comparison {
            position: relative;
            top: 35px;
            color: #80888f;
        }

    }
    .daily-total {
        background-color: pink;
    }
    .phone-data{
        background-color: pink;
    }
    .mail-data{
        background-color: pink;
        margin-bottom: 0px;
    }
}