@use '../../style/colors';
@use "../../style/fontsizes.scss";
@use "../../style/margins.scss";

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: scroll;
    table-layout: auto;
}

tr, th, td {
    height: 40px;
    border: none;
    border-top: 1px inset #B8C4CF;
    border-bottom: 1px inset #B8C4CF;
    text-align: left;
    padding: 0 margins.$margin-sm;
    font-weight: 400;
    color: colors.$dark-blue;
    max-width: 100px;
    font-size: fontsizes.$fontsz-p;
}

tr:last-child {
    border-bottom: none;
    td{
        border-bottom: none;
    }
}

td {
    overflow: hidden;
}

.list-header {
    background-color: colors.$light-grey;

    th {
        font-weight: 500;
        color: colors.$table-header-text;
    }
}

.edit-field{
    text-align: center;
    color: colors.$primary-color;
    font-weight: 600;
    padding: 0 10px;

    &:hover{
        color: #4984D3;
    }
}

.notes-icon {
    padding: 0 10px;

    .notes-icon-container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

.bold-text {
    font-weight: 600;
}

.editable {
    cursor: pointer;
}