@use '../../style/colors';

.collapsed-sidebar .sidebar-container{
    width: 80px;
    .nav-text{
        display: none;
        overflow: hidden;
    }

    .navigation-link{
        display: flex;
        justify-content: center;
        padding: 0.5em 0.5em;
        gap: 0;
    }

    .default-logo{
        display: none;
    }

    .small-logo{
        display: block;
    }

    button{
        display: none;
    }

    .input-link{
        .navigation-link{
            width: 50px;

            .nav-text{
                display: none;
            }

            svg{
                display: inline-block;
            }
        }
    }
}

.sidebar-container, .sidebar-container:hover{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    width: 260px;
    height: 100%;
    min-height: 370px;
    padding: 1em;
    position: fixed;
    z-index: 100;
    transition: width 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;

    .st0{
        fill: colors.$primary-color;
    }

    .logo-wrapper{
        margin-top: 16px;
        display: flex;
        justify-content: center;
        width: auto;
        overflow: hidden;
        svg{
            height: 20px;
            flex-shrink: 0;
            display: block;
        }
    }

    ul {
        margin: 20px 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        li{
            flex-grow: 1;
            list-style-type: none;
        }
    }



    li, .navigation-link{
        color: colors.$grey-text;
        font-size: 20px;
    }



    .navigation-link:hover{
        background-color: colors.$light-grey;
    }

    .navigation-link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5em 1em;
        border-radius: 6px;
        font-size: 20px;
        height: 28px;
        margin: 0.2em auto;
        gap: 0 1em;
    }


    .navigation-link svg{
        flex-shrink: 0;
        transition: none;
        height: 20px;
        width: 20px;
    }

    .input-link{
        display: flex;
        flex-direction: column;
        margin: calc(1em - 7px) 0;

        .navigation-link{
            background-color: colors.$primary-color;
            color: white;
            transition: background-color 0.4s;
            height: 50px;
            width: 220px;
            padding: 0;
            margin: 0;
            align-self: center;

            .nav-text{
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
            }

            svg{
                display:none;
            }

            span{
                svg{
                    display: inline-block;

                    path{
                        fill: white;
                    }
                }
            }
        }

        .navigation-link:hover{
            background-color: colors.$primary-dark;
        }
        
    }

    .active{
        color: colors.$primary-color;
    }

    ul{
        align-items: stretch;
    }


    .nav-text{
        height: auto;
        width: fit-content;
        display: inline;
    }

    .default-logo{
        display: block;
    }

    .small-logo{
        display: none;
    }
    
    button {
        position:absolute;
        background-color: colors.$primary-color;
        font-weight: 600;
        color: white;
        text-align: center;
        width: 150px;
        height: 50px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.4s;
        bottom: 2%;
        display:block;
        align-self: center;
        
        &:hover {
            background-color: #4984D3;
        }
    }
}



@media screen and (max-width: 992px){
    .sidebar-container{
        width: 80px;
        .nav-text{
            display: none;
            overflow: hidden;
        }
    
        .navigation-link{
            display: flex;
            justify-content: center;
            padding: 0.5em 0.5em;
            gap: 0;
        }

        .default-logo{
            display: none;
        }
    
        .small-logo{
            display: block;
        }
        button{
            display: none;
        }

        .input-link{
            .navigation-link{
                width: 50px;

                .nav-text{
                    display: none;
                }
    
                svg{
                    display: inline-block;
                }
            }
        }
    }

}